* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    padding-bottom: 20px;
}

header {
    padding: 1vh;
    text-align: center;
}

header img {
    width: 250px;
}

li {
    padding-inline: 15px;
}

.logo {
    width: 180px;
    height: 60px;
    cursor: pointer;
}

.navbox {
    display: flex;
    padding: 1em;
    justify-content: center;
}

.navbox ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbox ul li {
    list-style: none;
    border-radius: 3px;
}

.navbox ul li a {
    text-decoration: none;
    color: inherit;
}

/* Container principal */
.container {
    margin: 10px 20px;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

/* Container adicional dos elementos audio traduzir e pesquisar */
.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    width: 100%;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha em telas menores */
}


.myaudio {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.audio-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.play-pause {
    width: 70px;
    height: 38px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 20px;
    background-color: #007BFF;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.play-pause i {
    font-size: 21px; /* Tamanho do ícone */
    line-height: 1; /* Remove o espaçamento extra */
}

.play-pause:hover {
    background-color: #0056b3;
}

.progress-container {
    flex: 1;
    background-color: #ddd;
    border-radius: 5px;
    height: 8px;
    cursor: pointer;
    position: relative;
}

.progress-bar {
    background-color: #28a745;
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.1s;
}

.time {
    font-size: 14px;
    color: #333;
}


/* Estilização da caixa de busca */
.searchWord {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchWord input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.searchWord button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilização dos botões */
.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

/* Outras estilizações */
.box {
    width: 100%;
    color: white;
    background-color: #263238f1;
    border-radius: 5px;
    padding: 3vh;
}

.box1 {
    width: 100%;
    display: none;
    background-color: #26323809;
    color: inherit;
    border-radius: 5px;
    padding: 3vh;
}

.box1 .titulo2 {
    text-align: center;
}

.titulo2 {
    padding-bottom: 5px;
}

#esconder {
    display: none;
}

/* Botão com hover */
button:hover {
    background-color: #45a049;
}

/* Estilização do menu dropdown */
.dp-menu {
    padding-top: 25px;
    text-align: center;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul li {
    display: inline-block;
    position: relative;
    margin-top: 2px;
}

.dp-menu ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    width: 115px;
}

.dp-menu ul li:hover {
    background-color: #4CAF50;
    border-radius: 5px;
    transition: 0.9s;
}

/* Resposta UL */
.resposta li {
    display: block;
    margin-bottom: 10px; /* Espaço entre cada input */
}

/* Submenu */
.dp-menu ul ul {
    left: 0;
    display: none;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a {
    display: inline-block;
}

/* Estilização para dispositivos móveis */
@media screen and (max-width: 768px) {

    .container{
        margin: 10px 30px;
    }

    .dp-menu ul li {
        padding-bottom: 200px;
    }
    
    .dp-menu ul ul li {
        padding-bottom: 0px;
    }

    .navbox img {
        display: none;
    }

    /* Ajustes para .topRow em telas pequenas */
    .topRow {
        flex-direction: column;
        align-items: center;
    }

    .audio-controls {
        width: 325px;
    }

}

/* Estilização adicional para container */
@media screen and (min-width: 800px) {
    .container {
        margin: 0rem 13rem 0rem 13rem;
    }

    .audio-controls {
        width: 325px;
    }
}

/* Estilização do título */
.title {
    transition: 1s;
    color: black;
    padding: 1.5vh;
    padding-inline: 3vh;
    background-color: #b4bbb5fc;
    width: 100%;
    border-radius: 3px;
}

/* Estilização da infobox */
.infobox {
    padding: 3vh;
    color: rgb(39, 34, 34);
    background-color: whitesmoke;
    border-radius: 5px;
    backdrop-filter: blur(1.5px);
}

#word {
    color: #4CAF50;
}

/* Estilização de imagens dentro de item */
.item img {
    width: 250px;
    border-radius: 5px;
}
